*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(-225deg,#2CD8D5 0%,#C5C1FF 56%, #FFE6FA 100%);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #FFFFFF;
    box-shadow: 2px 3px 5px #ccc;
}
.headerf{
    width: 1200px;
    margin: auto;
}
.headerf h3{
    float: left;
    height: 35px;
    color: #4C78BF;
    letter-spacing: 2px;
    font-size: 20px;
}
.headerf ul{
    float: right;
}
.headerf ul li{
    float: left;
    margin-left: 100px;
}
.headerf ul li a{
    color: #000000;
    padding-bottom: 5px;
}
.headerf ul .active a{
    color: #15c5ce;
    border-bottom: 3px solid #15c5ce;
}
.headerf ul li a:hover{
    color: #15c5ce;
    border-bottom: 3px solid #15c5ce;
}
.banner{
    width: 1200px;
    margin: 20px auto;
}
.banner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-style: ridge;
    border-color: skyblue;
    border-width: 10px;
}
.title{
    width: 1200px;
    margin: 10px auto;
}
.title h3{
    margin-bottom: 10px;
    color: #FFFFFF;
    padding-left: 5px;
    border-left: 5px solid #FFFFFF;
}
.about{
    width: 1160px;
    height: 300px;
    padding: 20px;
    margin: auto;
    background: #FFF;
}
.about img{
    float: left;
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.about-text{
    float: right;
    width: 620px;
}
.about-text p{
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 6px;
}
#dong{
    width: 1200px;
    height: 400px;
    margin: 0 auto 20px auto;
}
#dong ul li{
    float: left;
    width: 23%;
    height: 400px;
    margin-right: 2%;
    background: #FFFFFF;
}
#dong ul li:last-child{
    margin-right: 0;
}
#dong ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer{
    padding: 15px;
    background: #111111;
    color: #F2F2F2;
    text-align: center;
}
#I1:hover{
    opacity: 0.7;
}
#I2:hover{
    opacity: 0.7;
}
#I3:hover{
    opacity: 0.7;
}
#I4:hover{
    opacity: 0.7;
}
#I5:hover{
    opacity: 0.7;
}
#eight:hover{
    opacity: 0.7;
}
#I6:hover{
    opacity: 0.7;
}
#I7:hover{
    opacity: 0.7;
}
#I8:hover{
    opacity: 0.7;
}
#I9:hover{
    opacity: 0.7;
}
#I10:hover{
    opacity: 0.7;
}
#id2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px
}
.container1 .card1{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.container1 .card1:hover{
    height: 420px;
}
.container1 .card1 .imgBx1{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container1 .card1 .imgBx1 img{
    max-width: 100%;
    border-radius: 4px;
}
.container1 .card1 .content1{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container1 .card1:hover .content1{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.bar{
    text-decoration: none;
    color: #5532FF;
    border-radius: 10px;
    border-style: dotted;
    border-color: white;
    background-color: rgba(65, 112, 195, 0.1);
    padding: 6px;
    font-family: Hubballi;
    font-size: 20px;
    text-align: left;
}
.bar:hover{
    background-color: whitesmoke;
    color: hotpink;
}
