.bar{
	text-decoration: none;
	color: #5532FF;
	border-radius: 10px;
	border-style: dotted;
	border-color: white;
	background-color: rgba(65, 112, 195, 0.1);
	padding: 6px;
	font-family: Hubballi;
	font-size: 20px;
	text-align: left;
}
.bar:hover{
	background-color: whitesmoke;
	color: hotpink;
}



#H1,#P1{
	background-size: cover;
}

#H2,#P2{
	font-family: Dancing Script;
	font-size: 50px;
	text-shadow: 3px 3px 3px gray;
}

#H3,#P3{
	font-family: Square Peg;
	font-size: 30px;
	color: grey;
	margin-top: -45px;
}

#H4{
	font-size: 28px;
	margin-left: 50px;
}

#H5{
	border-style: ridge;
	border-color: lightgray;
	border-radius: 20px;
	border-width: 10px;
	width: 380px;
	height: 250px;
	margin-right: -200px;
}

#H5:hover{
	opacity: 0.7;
	}

.class1{
    float: left;
    width: 50%;
    text-align: center;
    }

.H6{
	border-width: 10px;
	border-style: outset;
	border-color: whitesmoke;
}

#H7,#H11,#H13{
	font-size: 40px;
	font-style: italic;
	color: steelblue;
}

#H8,#H12,#H14,#P9,#P11{
	font-style: italic;
	font-size: 25px;
}

.class2{
	float: left;
    width: 25%;
    text-align: center;
}

.H10{
	width: 250px;
	height: 200px;
	border-style: dotted;
	border-color: lightgoldenrodyellow;
	border-width: 5px;
}

.H9{
	font-family: Dancing Script;
	font-size: 30px;
	color: rosybrown;
}

#H14{
	text-decoration: underline;
	color: darkblue;
}

#H14:hover{
	background-color: lightyellow;
	color: orange;
}

#P4,#P7{
	font-size: 28px;
	margin-left: 50px;
}

#P5{
	border-style: ridge;
	border-color: lightgray;
	border-radius: 20px;
	border-width: 10px;
	width: 380px;
	height: 250px;
	margin-right: -200px;
}

#P5:hover{
	opacity: 0.7;
	}

#P6{
	border-style: ridge;
	border-color: lightgray;
	border-radius: 20px;
	border-width: 10px;
	width: 400px;
	height: 250px;
	margin-right: -150px;
}

#P6:hover{
	opacity: 0.7;
	}

.class3{
    float: left;
    width: 50%;
    text-align: center;
    }

.class4{
    float: left;
    width: 50%;
    }

#P8,#P10{
	font-size: 40px;
	font-style: italic;
	color: saddlebrown;
}




#id{
 display: flex;
 justify-content: center;
 align-items: center;
}
.container{
 position: relative;
 width: 1100px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 30px
}
.container .card{
 position: relative;
 max-width: 300px;
 height: 215px;
 background: #fff;
 margin: 30px 10px;
 padding: 20px 15px;
 display: flex;
 flex-direction: column;
 box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
 transition: 0.3s ease-in-out;
}
.container .card:hover{
 height: 420px;
}
.container .card .imgBx{
 position: relative;
 width: 260px;
 height: 260px;
 top: -60px;
 left: 20px;
 z-index: 1;
 box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgBx img{
 max-width: 100%;
 border-radius: 4px;
}
.container .card .content{
 position: relative;
 margin-top: -140px;
 padding: 10px 15px;
 text-align: center;
 color: #111;
 visibility: hidden;
 opacity: 0;
 transition: 0.3s ease-in-out;
}
.container .card:hover .content{
 visibility: visible;
 opacity: 1;
 margin-top: -40px;
 transition-delay: 0.3s;
}





.rabbit1{
	color: red;
}
.rabbit2{
	border: solid brown;
	background-color: lightsalmon;
	color: deeppink;
}
body{
    background-color: skyblue;
    background-repeat: no-repeat;  
    background-position: center;    
}   
.rabbit3 img{
	border: 2px solid black;
	float: left;
	width: 500px;
	height: 240px;
	object-fit: cover;
}
.rabbit4 h1{
	margin-bottom: 10px;
	color:  greenyellow;
	padding-left: 5px;
	border-left: 5px solid yellow;
} 
#rabbit5{
	border: 10px solid yellow;
}

.rabbit6{
	border: 2px solid black;
	background-color: lightyellow;
	color: green;
}
.rabbit7 img{
	border: solid brown;
	float: right;
	width: 500px;
	height: 155px;
}
.rabbit8{
	margin: 130px;
	border: 3px lightyellow;
}
.cat1{
	color: yellow;
}
.cat2{
	border: solid darkorange;
	background-color: seagreen;
	color: mediumvioletred;
}
.cat3 h1{
    margin-bottom: 10px;
	color:  indianred;
	padding-left: 5px;
	border-left: 5px solid yellow;
}
#cat4{
	border: 8px solid palevioletred;
}
.cat5 img{
	border: solid mediumpurple;
	float: right;
	width: 400px;
	height: 178px;
}
.cat6 img{
    border: solid mediumpurple;
	float: left;
	width: 400px;
	height: 230px;
}
.cat7{
	margin: 130px;
}




#D1{
	background-repeat: no-repeat;
	background-size: cover;
}
#D2{
	font-family: Dancing Script;
	text-align: center;
	font-size: 70px;
	background-color: rgba(231, 227, 247, 0.49);
	position: relative;	
	box-shadow: 5px -7px 5px 0px rgba(193, 180, 247, 0.77);
	margin-left: 400px;
	margin-right: 400px;
	border-style: hidden;
	border-radius: 6px;
}
#D3{
	font-size: 40px;
	font-family: Square Peg;
	text-align: center;
}
#D3:hover{
	color: rgb(161, 166, 221);
}
.class{
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 50px;
}
#D4{
	font-family: Hubballi;
	font-size: 30px;
	padding-right: 30px;
}
#img{
	border-style: ridge;
	border-color: rgba(150, 129, 253, 0.36);
	border-radius: 20px;
	border-width: 10px;
}
#D5{
	font-family: Dancing Script;
	font-size: 40px;
	text-align: center;
	padding: 10px;
	border: inset 2px whitesmoke;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 10px;
	background-color: rgba(231, 227, 247, 0.49);
}
#a1{
	text-decoration: none;
}
.colume{
	float: left;
	width: 25%;
	text-align: center;
	font-family: Hubballi;
	font-size: 25px;
}
.colume:hover{
	background-color: rgba(161, 166, 221, 0.3);
	color: mediumpurple;
}
#web1{
	border-style: outset;
	border-color: rgba(150, 129, 253, 0.36);
	border-radius: 20px;
	border-width: 5px;
	margin: 20px;
}
#D6{
	font-family: Dancing Script;
	font-size: 40px;
	text-align: center;
	text-shadow: rgba(150, 129, 253, 0.36);
	padding-top: 200px;
}
#D6:hover{
	color: rgb(161, 166, 221);
	background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));
}
#D7{
	font-family: Dancing Script;
	font-size: 40px;
	text-align: center;
	padding: 10px;
	border: inset 2px whitesmoke;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 10px;
	background-color: rgba(231, 227, 247, 0.49);
}
#D8{
	text-align: center;
	font-family: Hubballi;
	font-size: 30px;
	background-color: rgba(249, 204, 255, 0.3);
	border-radius: 20px;
	border-color: rgba(150, 129, 253, 0.36);
	width: 80%;
}
#D8:hover{
	color: rgb(168, 93, 253);
	background-color: rgb(255, 252, 204);
}
#U2{
	font-family: Dancing Script;
	text-align: center;
	font-size: 70px;
	background-color: #EFF5FF;	
	position: relative;	
	box-shadow: 5px -5px 5px 0px #B1C0E2;
	margin-left: 400px;
	margin-right: 400px;
	border-style: hidden;
	border-radius: 6px;
}
#U3{
	font-size: 40px;
	font-family: Square Peg;
	text-align: center;
}
#U3:hover{
	color: rgba(85, 118, 225, 0.8);
}
#U4{
	font-family: Hubballi;
	font-size: 30px;
	padding-left: 30px;
}
#img1{
	border-style: ridge;
	border-color: rgba(150, 129, 253, 0.36);
	border-radius: 20px;
	border-width: 10px;
}
#U5{
	font-family: Dancing Script;
	font-size: 40px;
	text-align: center;
}
#img2{
	border-style: groove;
	border-radius: 10px;
	border-width: 10px;
	border-color: #A2B7F0;
	height: 300px;
	width: 450px;
}
#U6{
	background-color: rgba(75, 158, 230, 0.1);
	width: 70%;
	font-family: Hubballi;
	font-size: 30px;
}
#U6:hover{
	background-color: rgba(241, 120, 120, 0.6);
	color: #8878F1;
}
#U7{
	font-family: Dancing Script;
	font-size: 40px;
	text-align: center;
}
table,th,td{
	border: 2px groove whitesmoke;
	border-collapse: collapse;
	text-align: center;
	font-family: Hubballi;
	margin: 30px;
	font-size: 30px;
}
table{
background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.7));	
background-repeat: no-repeat;
background-size: cover;
}
table,th,td:hover{
	background-color: rgba(152, 142, 219, 0.7);
	color: rgba(65, 112, 195, 0.7);
}


