
#background1{
	background-repeat: no-repeat;background-size: cover;
	background-attachment: fixed;
}
.bar{
	text-decoration: none;
	color: darkblue;
	border-radius: 6px;
	border-style: ridge;
	border-color: skyblue;
	background-color: lightpink;
	padding: 6px;
	font-family: Nanum Pen Script;
	font-size: 20px;
	text-align: left;
}
.bar:hover{
	background-color: whitesmoke;
	color: hotpink;
}
#subtitle1{
	font-family: Hubballi; font-size: 40px;text-align: center;
}
#content1{
	font-family: Hubballi;font-size: 30px; text-align: center;
}
#logo{
	width: 70px; height: 70px; border-width: 1px;border-style: dashed;border-color: skyblue;
	border-radius: 10px;margin-right: 10px;margin-left: 10px;
}
#nextpage{
	width: 140px; height: 50; position:absolute; margin-left: 1250px;
}
#background2{
	background-repeat: no-repeat;background-size: cover;background-position: center;background-attachment: fixed;
}
#title{
	font-family: Dancing Script;font-size: 70px;text-align: center;
	margin-top: 200px;
}
#subtitle2{
	font-family: Hubballi; font-size: 50px;margin-top: 80px;
	border-style: hidden;
	padding: 3px;
}
#subtitle2:hover{
	background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));
}
#content2{
	font-family: Hubballi;font-size: 40px;
}
.skynews{
	width: 400px; height: 200px; margin: 20px;
}
.colume{
	float: left;
	width: 33%;
	text-align: center;
	font-family: Hubballi;
	font-size: 25px;
}
.media{
	width: 300px; height: 300px; margin: 20px;
}
table,th,td{
	border: 2px groove whitesmoke;
	border-collapse: collapse;
	text-align: center;
	font-family: Hubballi;
	margin: 30px;
	font-size: 30px;
}
table{
background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.7));	
background-repeat: no-repeat;
background-size: cover;
}
#page3{
	width: 140px; height: 50; position:absolute; margin-left: 550px;
}
#subtitle3{
	font-family: Hubballi; font-size: 50px;margin-top: 50px;
	border-style: hidden;
	padding: 3px;
}
#subtitle3:hover{
	background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.2));
}
.v{
	width: 420px; height: 240px; 
}
#content3{
	font-size: 30px;
	font-family: Hubballi;
}